.link{
    outline: none;
    text-decoration: none;
    transition: all .6s ease;
    color: var(--icons-color);

    border: 3px solid var(--main-color);
    border-radius: 12px;
}

.link:hover{
    background-color: var(--links-color-hover);
}

.link li{
    display: flex;
    flex-direction: row;
    gap: 5%;

    text-align: center;
    padding: 10px 5px;
    font-size: 20px;
}

.link li img{
    width: 30px;
}

.link li p{
    margin: 0;
    font-size: 1em;
    font-weight: 600;
}