.home {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.home_banner {
  height: 350px;
  overflow: hidden;
  background-image: url("../assets/background_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 30%;

  overflow: visible;
}

.home_profile {
  display: flex;
  flex-direction: column;
}

.home_profile .home_function {
  text-align: center;
  font-size: 20px;
}

.home_profile .home_function p {
  font-weight: 600;
  font-size: 1em;
}

.home_profile .home_name {
  text-align: center;
  font-size: 50px;
}

.home_profile .home_name p {
  margin: 35px;
  font-size: 1em;
  font-family: "Bree Serif", serif;
}

.home_profile .home_photo {
  border: 3px solid var(--main-color);
  padding: 5px;
  border-radius: 50%;

  max-width: 270px;
  max-height: 270px;
  height: 95vw;
  margin: 0 auto;
}

.home_profile .home_photo img {
  width: 95vw;
  max-width: 270px;
  border-radius: 50%;
}

.home_links{
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 175px;
}