:root {
  --bg-color: #e8fdff;
  --border-color: #48FEFD;
  --main-color: #54A6AC;
  --icons-color-hover: #cdcdcd;
  --links-color-hover: #fff;
}

body{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  color: var(--main-color);
}
