:root {
  --bg-color: #e8fdff;
  --main-color: #48FEFD;
  --icons-color: #54A6AC;
  --purple: #BB99DD;
}

body{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
}
